<h1>#TITULO#</h1>
<div>
    <p><span class="infor">Nome:</span> #NOME#</p>
    <p><span class="infor">Email:</span> #EMAIL#</p>
    <p><span class="infor">Cpf:</span> #CPF#</p>
    <p><span class="infor">Rg:</span> #RG#</p>
    <p><span class="infor">Endereço:</span> #ENDERECO#</p>
    <p><span class="infor">Cep:</span> #CEP#</p>
    <p><span class="infor">Telefone Fixo:</span> #FIXO#</p>
    <p><span class="infor">Telefone Celular:</span> #CELULAR#</p>
    <p><span class="infor">Possui pendências:</span> #PENDENCIA#</p>
    <p></p>
    <a href="index.php?modulo=Cliente&acao=listar"><button type="button" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Voltar</button></a>
</div>