<!DOCTYPE html>
<h1>#TITULO#</h1>
<div>
    <p><span class="infor">Locacao #ATIVO#</span></p>
    <p><span class="infor">Produtos:</span> #PRODUTOS#</p>
    <p><span class="infor">Cliente:</span> #CLIENTE#</p>
    <p><span class="infor">Valor Total:</span> R$ #VALOR_TOTAL#</p>
    <p><span class="infor">Data locacao:</span> #DIALOCACAO#</p>
    <p><span class="infor">Data devolução:</span> #DIAENTREGA#</p>    
    <p><span class="infor">Locação feita por:</span> #USUARIO#</p>
    <p></p>
    <a href="index.php?modulo=Locacao&acao=listar"><button type="button" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Voltar</button></a>
</div>