<h1>#TITULO#</h1>
<div>
    <p><span class="infor">Código:</span> #CODIGO#</p>
    <p><span class="infor">Nome:</span> #NOME#</p>
    <p><span class="infor">Categoria::</span> #CATEGORIA#</p>
    <p><span class="infor">Cor:</span> #COR#</p>
    <p><span class="infor">Tamanho:</span> #TAMANHO#</p>
    <p><span class="infor">Valor Compra:</span> R$ #VALOR_COMPRA#</p>
    <p><span class="infor">Valor Aluguel:</span> R$ #VALOR_ALUGUEL#</p>
    <p><span class="infor">Ativo:</span> #ATIVO#</p>
    <p><span class="infor">Descrição:</span> #DESCRICAO#</p>
    <p>#IMAGEM#</p>
    <p></p>
    <a href="index.php?modulo=Produto&acao=listar"><button type="button" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Voltar</button></a>
</div>