
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Celestial! Locação de Roupas</title>
        <link href="public/css/bootstrap.min.css" rel="stylesheet">
        <link href="public/css/style.css" rel="stylesheet">
        <link href="public/css/jumbotron-narrow.css" rel="stylesheet">
        <link href="public/css/jquery-ui.css" rel="stylesheet">
        <script src="public/js/jquery-1.11.1.min.js"></script>
        <script src="public/js/bootstrap.min.js"></script>
        <script src="public/js/script.js"></script>
        <script src="public/js/jquery-ui.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="header">
                #MENUADM#
            </div>
            
            <div class="padding-celestial-centro">
                #CENTRO#
            </div>
            
        </div>
    </body>
</html>
